<div class="col-md-6 col-md-offset-3">
    <h2>Add New User</h2>
    </br>
    <div class="bg-danger" ng-show="hasError">
        <alert ng-repeat="error in errors track by $index" type="danger" close="closeAlert($index)">{{error}}</alert>
    </div>
    <form name="form" ng-submit="vm.addUser()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">FIO</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="vm.user.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">FIO is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.login.$dirty && form.login.$error.required }">
            <label for="login">Login</label>
            <input type="text" name="login" id="login" class="form-control" ng-model="vm.user.login" required />
            <span ng-show="form.login.$dirty && form.login.$error.required" class="help-block">Login is required</span>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select name="role" id="role" class="form-control" ng-model="vm.user.role" ng-change="vm.loadManagers()">
                <option value="">Select Role</option>
                <option value="ROLE_MANAGER">MANAGER</option>
                <option value="ROLE_SUBORDINATE">SUBORDINATE</option>
            </select>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.passwordConfirm.$dirty && form.passwordConfirm.$error.required }">
            <label for="passwordConfirm">Confirmation Password</label>
            <input type="password" name="passwordConfirm" id="passwordConfirm" class="form-control" ng-model="vm.user.passwordConfirm" required />
            <span ng-show="form.passwordConfirm.$dirty && form.passwordConfirm.$error.required" class="help-block">Confirmation Password is required</span>
        </div>
        <div>
            <label for="manager">Manager</label>
            <select name="manager" id="manager" class="form-control" ng-model="vm.user.managerId" ng-options="item.userId as item.name for item in vm.managers">
                <option value="">Select Manager</option>
            </select>
        </div>
        <br/>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Add</button>
            <a href="#/" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>